<header class="kotha-menu marketing-menu" role="banner">
  {% assign default_paths = site.pages | map: "path" %}
  {% assign page_paths = site.header_pages | default: default_paths %}

  <nav class="navbar  navbar-default">
    <div class="container">
      <div class="menu-content">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                  data-target="#myNavbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav text-uppercase pull-left">
            <li><a href="/" alt="Home">Home</a></li>
            <li><a href="/blog.html" alt="Blog">Blog</a></li>
            <li><a href="/categories.html" alt="Categories">Categories</a></li>
            <li><a href="/about-me.html" alt="About Me">About Me</a></li>
          </ul>
        </div>
        
      </div>
    </div>
    <!-- /.container-fluid -->
  </nav>
</header>
