<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="kotha-default-content">
      <div class="container">
        <div class="row">
          <div class="col-sm-8">


			<div class="col-md-12">

				{% for post in site.posts %}
				<article class="single-blog post-list">
				  <div class="post-content">
				    <div class="entry-header text-center text-uppercase">
				      {% if post.categories.size == 1 %}
				        <a href="#" class="post-cat">{{ post.categories.first }}</a>
				      {% else %}
				        {% for category in post.categories %}
				          <a href="#" class="post-cat">{{ category }}</a> 
				        {% endfor %}
				      {% endif %}
				      <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
				    </div>

				    {{ assign }}
				    <div class="entry-content">
				      {{ post.content | split:'<!--break-->' | first }}
				    </div>
				    
				    {% if post.content contains '<!--break-->' %}
				      <div class="continue-reading text-center text-uppercase">
				        <a href="{{ post.url | relative_url }}">Continue Reading</a>
				      </div>
				    {% endif %}
				    <div class="post-meta">
				      <ul class="pull-left list-inline author-meta">
				        <li class="author">By <a href="#">{{ post.author }} </a></li>
				        <li class="date"> On {{ post.date | date: "%b %-d, %Y" }}</li>
				      </ul>
				    </div>
				  </div>
				</article>
				{% endfor %}
			</div>

          </div>

          <div class="col-sm-4">
            <div class="kotha-sidebar">
              <aside class="widget about-me-widget  text-center">
                <div class="about-me-content">
                  <div class="about-me-img">
                    <img src="/assets/images/me.jpg" alt="" class="img-me img-circle">
                    <h2 class="text-uppercase">Matt McMahand</h2>
                    <p>I'm a software engineer who likes creating problems almost as much as I like solving them. I also do endurance sports and mountaineering.</p>
                  </div>
                </div>
                <div class="social-share">
                  <ul class="list-inline">
                    <li><a class="s-goodreads" href="https://www.goodreads.com/user/show/4997897-matt-mcmahand"><i class="fa fa-book"></i></a></li>
                    <li><a class="s-twitter" href="https://twitter.com/invalidusrname"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="s-github" href="https://github.com/invalidusrname"><i class="fa fa-github"></i></a></li>
                    <li><a class="s-linkedin" href="https://www.linkedin.com/in/mattmcmahand"><i class="fa fa-linkedin"></i></a></li>
                    
                  </ul>
                </div>
              </aside>

              {% include latest_posts.html %}
              
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

  {% include scripts.html %}
</html>

